@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: var(--text-size-large);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: var(--text-size-normal);
  font-family: var(--font-roboto);
  font-weight: 500;
  
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Prend toute la largeur disponible */
}

.historyTitle {
  cursor: pointer;
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
  width: 100%; /* Prend toute la largeur du conteneur */
}

.historyTitle img {
  width: 50px;
  margin-right: 10px; /* Espacement entre l'image et le texte */
}

.historyTitle h3 {
  font-size: var(--text-size-normal);
  font-weight: normal;
  margin: 0; /* Supprime les marges par défaut */
  white-space: normal; /* Permet au texte de se casser si nécessaire */
  overflow: visible; /* Le texte n'est pas tronqué */
  flex: 1; /* Prend tout l'espace disponible pour le texte */
}

.historyTitle span {
  flex-shrink: 0; /* Empêche le bouton de se redimensionner */
  margin-left: 10px; /* Espace constant entre le texte et le bouton */
  text-align: center;
  width: 30px; /* Largeur fixe pour le bouton */
}




.historyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  background: var(--color-secondary);
  border-radius: 10px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



.historyItemDetails {
  font-family: var(--font-roboto);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.historyItemDetails.show {
  height: auto;
  max-height: 9999px ;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}


.historyItemDetails h4 {
    font-size: var(--text-size-small);
    font-weight: 500;
  }

.historyItemDetails p {
  font-size: var(--text-size-small);
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: var(--text-size-small);
  list-style-type: disc;
  margin-left: 17px;
}


@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}