@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: var(--text-size-large);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Empêche les éléments de se déplacer sur une nouvelle ligne */
  align-items: center;
  justify-content: center; /* Centre les cartes horizontalement */
  gap: 15px;
  width: 100%;
  overflow-x: auto; /* Active le défilement horizontal */
  scroll-snap-type: x mandatory; /* Permet un défilement fluide et une "accroche" des éléments */
}

.projects::-webkit-scrollbar {
  height: 8px; /* Personnalisation de la barre de défilement */
}

.projects::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.projectCard {
  scroll-snap-align: start; /* Permet de "fixer" chaque carte lors du défilement */
  transition: transform 0.3s ease-in-out; /* Ajout d'une transition pour l'agrandissement */
}

.projectCard:focus, .projectCard:focus-within {
  transform: scale(1.1); /* Agrandit légèrement la carte lorsqu'elle est en avant */
}

@media screen and (max-width: 830px){
  .projects {
  justify-content: flex-start;
  }

  .container {
    margin-top: 1px;
  }
}

